transformers>=4.0.0
datasets>=2.13.0,<3
seqeval>=1.2.2
evaluate>=0.4.1
pyyaml>=6.0
huggingface-hub>=0.16.0
syntok>=1.4.4
evaluate>=0.4.1
xmltodict>=0.13.0
accelerate>=0.20.3
tensorboardX>=2.6.2.2
absl-py>=2.1.0
sentencepiece
bs4
lxml
Pillow